.header {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    width: 100vw;
    height: fit-content;
}

.header-logo {
    padding: .5vw 0 .5vw 2vw;
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}