@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.login-form-container {
    max-width: 300px;
    margin: 40px auto;
}

.email, .password, .native-signin {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    outline: none;
    -webkit-border: 1px solid  #dadce0;
    border: 1px solid  #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.login-form-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.native-signin {
    margin-top: 20px;
    border: 1px solid  #e0e1e1;
    background: #f8fcff;
    color: #333541;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
    padding: 15px;
    -webkit-appearance: none;
    appearance: none;
}

.native-signin:hover, .native-signin:focus {
    background: #f2f8ff;
    border: 1px solid #d8e6ff;
}

.email:focus, .password:focus {
    border: 1px solid #a0bcf5;
}

.login-break {
    margin: 20px 0 20px;
    height: 1px;
    background-color: #dadce0;
    border: none;
    width: 100%;
}

.signup-link-container {
    font-size: 14px;
}

.email-label, .password-label {
    font-size: 14px;
    font-weight: 600;

}

.signup-link {
    color: #6a9bfc;
    cursor: pointer;
    transition: all 0.2s ease;
}

.signup-link:hover {
    color: #5493eb;
}

.password:autofill {
    background: #fff;
}